<template>
  <div class="card">
    <div class="card-header">
      <h4>Обновление отдела</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="title">Название</label>
          <input type="text"
                 class="form-control"
                 v-model="title"
                 id="title"
                 placeholder="Отдел айти"
          >
        </div>

        <div class="form-group">
          <label for="place">Местонахождение</label>
          <input type="text"
                 class="form-control"
                 v-model="place"
                 id="place"
                 placeholder="Москва"
          >
        </div>

        <button v-on:click.prevent="updateDepartment" class="btn btn-primary">Создать</button>
      </form>

    </div>
  </div></template>

<script>

import DepartmentUpdate from "~/api/departments/departmentUpdate";
import DepartmentDetail from "~/api/departments/departmentDetail";

export default {
  name: 'DepartmentsUpdate',
  components: {
  },
  data() {
    return {
      title: null,
      place: null
    }
  },
  methods: {
    async updateDepartment() {
      try {
        await DepartmentUpdate(this.$route.params.id, this.$data)

        this.$router.push('/departments')
      } catch (e) {
        console.log(e.message)
      }
    }
  },
  async fetch () {
    const department = await DepartmentDetail(this.$route.params.id)
    console.log(department.data)
    this.$data.title = department.data.title
    this.$data.place = department.data.place
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
