<template>
  <div class="card">
    <div class="card-header">
      <h4>Создание клиента</h4>
    </div>
    <div class="card-body">

        <div class="form-group">
          <label for="lastName">Фамилия</label>
          <input type="text"
                 class="form-control"
                 v-model="lastName"
                 id="lastName"
                 placeholder="Федоров"
          >
        </div>

        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text"
                 class="form-control"
                 v-model="name"
                 id="name"
                 placeholder="Федор"
          >
        </div>

        <div class="form-group">
          <label for="secondName">Отчество</label>
          <input type="text"
                 class="form-control"
                 v-model="secondName"
                 id="secondName"
                 placeholder="Федорович"
          >
        </div>

        <div class="form-group">
          <label for="gender">Пол</label>
          <select
            v-model="gender"
            class="form-control"
            id="gender"
          >
            <option value="М">М</option>
            <option value="Ж">Ж</option>
          </select>

        </div>

        <div class="form-group">
          <label for="phoneNumber">Номер телефона</label>
          <input type="text"
                 class="form-control"
                 v-model="phoneNumber"
                 id="phoneNumber"
                 placeholder="100000"
          />
        </div>

        <div class="form-group">
          <label for="birthday">Дата рождения</label>
          <input type="text"
                 class="form-control"
                 v-model="birthday"
                 id="birthday"
                 placeholder="YYYY-MM-DD"
          />
        </div>

        <button v-on:click.prevent="createClient" class="btn btn-primary">Создать</button>

    </div>
  </div>
</template>

<script>
import clientCreate from "~/api/clients/clientCreate";

export default {
  name: 'ClientsCreate',
  components: {
    // "clients-one": ClientsOne,
  },
  data() {
    return {
      name: null,
      secondName: null,
      lastName: null,
      gender: null,
      phoneNumber: null,
      birthday: null,
    }
  },
  methods: {
    async createClient() {
      const result = await clientCreate(this.$data)

      this.$router.push('/clients');
    }
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
