<template>

  <div class="card">
    <div class="card-header">
      <h4>Список клиентов</h4>
    </div>
    <div class="card-body">

      <ModelsTable :models="models" entity-name="clients"></ModelsTable>

    </div>
  </div>

</template>

<script>
import ClientList from "~/api/clients/clientList";

export default {
  name: 'ClientsIndex',
  components: {
  },
  data() {
    return {
      models: []
    }
  },
  async fetch() {
    const response = await ClientList()
    this.models = response.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
