<template>
  <div class="container">
    <div class="row">


      <nav class="navbar navbar-expand-lg bg-light col-12">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item dropdown" v-for="(menuItems, index) in menu">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  {{ index }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li v-for="(key, value) in menuItems">
                    <nuxt-link class="dropdown-item" :to="key">{{ value }}</nuxt-link>
<!--                    <a class="dropdown-item" :href="key">{{ value }}</a>-->
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>

</template>

<script>
import getMenu from "~/api/getMenu";
import {BACK_URLS} from "~/configs/backUrls";

export default {
  name: "defaultNavbar",
  data() {
    return {
      menu: []
    }
  },
  async fetch() {
    const menu = await getMenu()
    this.menu = menu.data
    console.log(menu)
  }
}
</script>

<style scoped>

</style>
