<template>
  <div class="card">
    <div class="card-header">
      <h4>Создание заказа</h4>
    </div>
    <div class="card-body">

        <div class="form-group">
          <label for="serviceName">Название сервиса</label>
          <input type="text"
                 class="form-control"
                 v-model="serviceName"
                 id="serviceName"
                 placeholder="Балашиха"
          >
        </div>

        <div class="form-group">
          <label for="servicePrice">Общая стоимость</label>
          <input type="text"
                 class="form-control"
                 v-model="servicePrice"
                 id="servicePrice"
                 disabled
          >
        </div>

      <div class="form-group">
        <label for="consultantId">Сотрудник</label>
        <select
          v-model="consultantId"
          class="form-control"
          id="consultantId"
        >
          <option v-for="employee in employees" :value="employee.id">
            {{`${employee.name} ${employee.lastName}`}}
          </option>

        </select>
      </div>


      <div class="form-group">
        <label for="consultantId">Клиент</label>
        <select
          v-model="clientId"
          class="form-control"
          id="clientId"
        >
          <option v-for="client in clients" :value="client.id">
            {{`${client.name} ${client.lastName}`}}
          </option>

        </select>
      </div>


        <div class="form-group">
          <label for="status">Статус</label>

          <select
            v-model="status"
            class="form-control"
            id="status"
          >
            <option value="Создание">Создание</option>
            <option value="Оплачен">Оплачен</option>
            <option value="В процессе">В процессе</option>

          </select>
        </div>

        <div class="form-group col-12">
          <label>Заказ</label>
          <div class="row form-group">

            <select
              v-model="carId"
              class="form-control col-8 mr-4"
              id="car"
            >
              <option v-for="car in cars" :value="car.id">{{car.title}}</option>
            </select>
            <input type="number"
                   class="form-control col-2"
                   v-model="count"
                   placeholder="кол-во"
            >
          </div>
        </div>


        <button v-on:click.prevent="createOrder" class="btn btn-primary">Создать</button>

    </div>
  </div>
</template>

<script>
import OrderCreate from "~/api/orders/orderCreate";
import ClientList from "~/api/clients/clientList";
import EmployeeList from "~/api/employees/employeeList";
import CarList from "~/api/cars/carList";

export default {
  name: 'OrdersCreate',
  components: {
  },
  data() {
    return {
      serviceName: null,
      servicePrice: null,
      consultantId: null,
      clientId: null,
      status: null,
      carId: null,
      count: 0,

      clients: null,
      employees: null,
      cars: null
    }
  },
  watch: {
    carId() {
      for (let id in this.cars) {
        if (this.cars[id].id === this.carId) {

          this.servicePrice = this.cars[id].price * this.count
        }
      }
    },
    count() {
      for (let id in this.cars) {
        if (this.cars[id].id === this.carId) {
          this.servicePrice = this.cars[id].price * this.count
        }
      }
    }
  },
  methods: {
    async createOrder() {
      const result = await OrderCreate(this.$data)

      this.$router.push('/orders');
    }
  },
  async fetch () {
    const clients = await ClientList()
    const employees = await EmployeeList()
    const cars = await CarList()

    this.clients = clients.data
    this.employees = employees.data
    this.cars = cars.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
