<template>

  <div class="card">
    <div class="card-header">
      <h4>Список заказов</h4>
    </div>
    <div class="card-body">

      <ModelsTable :models="models" entity-name="orders"></ModelsTable>

    </div>
  </div>

</template>

<script>
import OrderList from "~/api/orders/orderList";

export default {
  name: 'OrdersIndex',
  components: {
  },
  data() {
    return {
      models: []
    }
  },
  async fetch() {
    const response = await OrderList()
    this.models = response.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
