<template>
  <div class="card">
    <div class="card-header">
      <h4>Создание Машины</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="title">Название</label>
          <input type="text"
                 class="form-control"
                 v-model="title"
                 id="title"
                 placeholder="Лада Приора"
          >
        </div>
        <div class="form-group">
          <label for="specification">Спецификация</label>
          <select
            v-model="specificationId"
            class="form-control"
            id="specification"
          >
            <option v-for="specification in specifications" :value="specification.id">
              {{`${specification.yearIssue} /
                  ${specification.chassis} /
                  ${specification.carcase} /
                  ${specification.enginePower} /
                  ${specification.maxWight}`}}
            </option>

          </select>
        </div>
        <div class="form-group">
          <label for="price">Цена (руб.)</label>
          <input type="number"
                 class="form-control"
                 v-model="price"
                 id="price"
                 placeholder="100000"
          />
        </div>

        <button v-on:click.prevent="createCar" class="btn btn-primary">Создать</button>
      </form>

    </div>
  </div>
</template>

<script>

import CarCreate from "~/api/cars/carCreate";
import SpecificationList from "~/api/specifications/specificationList";

export default {
  name: 'CarsCreate',
  components: {

  },
  data() {
    return {
      specifications: [],
      title: null,
      specificationId: null,
      price: null
    }
  },
  methods: {
    async createCar() {
      let data = {
        'title': this.title,
        'specificationsId': this.specificationId,
        'price': this.price,
      }

      const result = await CarCreate(data)

      this.$router.push('/cars');
    }
  },
  async fetch() {
    const specifications = await SpecificationList()
    this.specifications = specifications.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
