<template>

  <div class="card">
    <div class="card-header">
      <h4>Список машин</h4>
    </div>
    <div class="card-body">

      <ModelsTable :models="models" entity-name="cars"></ModelsTable>

    </div>
  </div>

</template>

<script>
import getCarsList from "~/api/cars/carList";

export default {
  name: 'CarsIndex',
  components: {
  },
  data() {
    return {
      models: []
    }
  },
  async fetch() {
    const response = await getCarsList()
    this.models = response.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
