<template>
  <div class="card">
    <div class="card-header">
      <h4>Создание спецификации</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="yearIssue">Год выпуска</label>
          <input type="text"
                 class="form-control"
                 v-model="yearIssue"
                 id="yearIssue"
                 placeholder="2020"
          >
        </div>

        <div class="form-group">
          <label for="chassis">Тип</label>
          <input type="text"
                 class="form-control"
                 v-model="chassis"
                 id="chassis"
                 placeholder="Грузовое"
          >
        </div>

        <div class="form-group">
          <label for="carcase">Корпус</label>
          <input type="text"
                 class="form-control"
                 v-model="carcase"
                 id="carcase"
                 placeholder="Металл"
          >
        </div>

        <div class="form-group">
          <label for="enginePower">Мощность двигателя (л.с.)</label>
          <input type="text"
                 class="form-control"
                 v-model="enginePower"
                 id="enginePower"
                 placeholder="500"
          >
        </div>

        <div class="form-group">
          <label for="maxWight">Максимальный вес (кг)</label>
          <input type="text"
                 class="form-control"
                 v-model="maxWight"
                 id="maxWight"
                 placeholder="15000"
          >
        </div>

        <button v-on:click.prevent="createSpecification" class="btn btn-primary">Создать</button>
      </form>

    </div>
  </div>
</template>

<script>
import SpecificationCreate from "~/api/specifications/specificationCreate";

export default {
  name: 'SpecificationsCreate',
  components: {
  },
  data() {
    return {
      yearIssue: null,
      chassis: null,
      carcase: null,
      enginePower: null,
      maxWight: null,
    }
  },
  methods: {
    async createSpecification() {
      try {
        await SpecificationCreate(this.$data)
      } catch (e) {
      }

      this.$router.push('/specifications');
    }
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
