<template>

  <div class="card">
    <div class="card-header">
      <h4>Список спецификаций</h4>
    </div>
    <div class="card-body">

      <ModelsTable :models="models" entity-name="specifications"></ModelsTable>

    </div>
  </div>

</template>

<script>
import SpecificationList from "~/api/specifications/specificationList";

export default {
  name: 'SpecificationsIndex',
  components: {
  },
  data() {
    return {
      models: []
    }
  },
  async fetch() {
    const response = await SpecificationList()
    this.models = response.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
