<template>

  <table class="table">
    <thead>
    <tr>
      <th scope="col" v-for="(_, key) in models[0]">{{ key }}</th>
      <th> Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="entity in models">
      <td v-for="value in entity">{{ value }}</td>
      <td>
        <button class="btn btn-primary" v-on:click="goToEdit(entity.id)">Изменить</button>
        <button class="btn btn-danger" v-on:click="deleteEntity(entity.id)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>

</template>

<script>
import EntityDelete from "~/api/entityDelete";

export default {
  name: "ModelsTable",
  props: ['models', 'entityName'],
  methods: {
    goToEdit(id) {
      this.$router.push(`/${this.entityName}/${id}/edit`);
    },

    removeItem(id) {
      for (let i in this.models) {
        if (this.models[i].id === id) {
          delete this.models[i]
        }
      }
    },

    async deleteEntity(id) {
      if (confirm("Вы уверены?")) {
        await EntityDelete(this.entityName, id)

        this.$router.app.refresh()
      }
    }
  }
}
</script>

<style scoped>

</style>
