<template>
  <div class="card">
    <div class="card-header">
      <h4>Обновление заказа</h4>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="serviceName">Название сервиса</label>
        <input type="text"
               class="form-control"
               v-model="serviceName"
               id="serviceName"
               placeholder="Балашиха"
        >
      </div>

      <div class="form-group">
        <label for="servicePrice">Общая стоимость</label>
        <input type="text"
               class="form-control"
               v-model="servicePrice"
               id="servicePrice"
               disabled
        >
      </div>

      <div class="form-group">
        <label for="dateTime">Последнее обновление</label>
        <input type="text"
               class="form-control"
               v-model="dateTime"
               id="dateTime"
               placeholder="Металл"
               disabled
        >
      </div>

      <div class="form-group">
        <label for="consultantId">Сотрудник</label>
        <select
          v-model="consultantId"
          class="form-control"
          id="consultantId"
        >
          <option v-for="employee in employees" :value="employee.id">
            {{`${employee.name} ${employee.lastName}`}}
          </option>

        </select>
      </div>


      <div class="form-group">
        <label for="consultantId">Клиент</label>
        <input type="text"
               class="form-control"
               :value="`${clientData.name} ${clientData.lastName}`"
               id="clientId"
               disabled
        >
      </div>


      <div class="form-group">
        <label for="status">Статус</label>

        <select
          v-model="status"
          class="form-control"
          id="status"
        >
          <option value="Создание">Создание</option>
          <option value="Оплачен">Оплачен</option>
          <option value="В процессе">В процессе</option>

        </select>
      </div>

      <div class="form-group col-12">
        <label>Заказ</label>
        <div class="row form-group">

          <input type="text"
                 class="form-control col-8 mr-4"
                 v-model="car.title"
                 id="carId"
                 disabled
          >
          <input type="number"
                 class="form-control col-2"
                 v-model="car.pivot.count"
                 placeholder="кол-во"
                 disabled
          >
        </div>
      </div>


      <button v-on:click.prevent="updateOrder" class="btn btn-primary">Создать</button>

    </div>
  </div>
</template>

<script>
import OrderUpdate from "~/api/orders/orderUpdate";
import OrderDetail from "~/api/orders/orderDetail";
import ClientDetail from "@/api/clients/clientDetail";
import EmployeeList from "@/api/employees/employeeList";

export default {
  name: 'OrdersUpdate',
  components: {
  },
  data() {
    return {
      serviceName: null,
      servicePrice: null,
      consultantId: null,
      dateTime: null,
      clientId: null,
      status: null,
      carId: null,
      count: 0,

      clientData: null,
      employees: null,
      car: {
        'title': '',
        'pivot': {
          'count': 0
        }
      }
    }
  },
  methods: {
    async updateOrder() {
      const result = await OrderUpdate(this.$route.params.id, this.$data)

      this.$router.push('/orders');
    },
    async getOrder () {
        const order = await OrderDetail(this.$route.params.id)

        this.serviceName = order.data.serviceName
        this.servicePrice = order.data.servicePrice
        this.dateTime = order.data.dateTime
        this.clientId = order.data.clientId
        this.status = order.data.status
        this.consultantId = order.data.consultantId
        this.car = order.data.cars[0]
    },
    async getClientData () {
      const clientData = await ClientDetail(this.clientId)

      this.clientData = clientData.data
    },
    async getEmployees () {
      const employees = await EmployeeList()

      this.employees = employees.data
    }
  },
  async mounted() {
    await this.getOrder()
    await this.getEmployees()
    await this.getClientData()
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
