<template>
  <div class="card">
    <div class="card-header">
      <h4>Создание сотрудника</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="lastName">Фамилия</label>
          <input type="text"
                 class="form-control"
                 v-model="lastName"
                 id="lastName"
                 placeholder="Федоров"
          >
        </div>

        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text"
                 class="form-control"
                 v-model="name"
                 id="name"
                 placeholder="Федор"
          >
        </div>

        <div class="form-group">
          <label for="secondName">Отчество</label>
          <input type="text"
                 class="form-control"
                 v-model="secondName"
                 id="secondName"
                 placeholder="Федорович"
          >
        </div>

        <div class="form-group">
          <label for="departmentId">Отдел</label>
          <select
            v-model="departmentId"
            class="form-control"
            id="departmentId"
          >
            <option v-for="department in departments" :value="department.id">
              {{department.title}}
            </option>
          </select>

        </div>

        <div class="form-group">
          <label for="phoneNumber">Номер телефона</label>
          <input type="text"
                 class="form-control"
                 v-model="phoneNumber"
                 id="phoneNumber"
                 placeholder="8-800-555-35-35"
          />
        </div>

        <div class="form-group">
          <label for="passportNumber">Номер паспорта</label>
          <input type="text"
                 class="form-control"
                 v-model="passportNumber"
                 id="passportNumber"
                 placeholder="1234657"
          />
        </div>

        <div class="form-group">
          <label for="passportSeries">Серия паспорта</label>
          <input type="text"
                 class="form-control"
                 v-model="passportSeries"
                 id="passportSeries"
                 placeholder="8080"
          />
        </div>

        <div class="form-group">
          <label for="birthplace">Место рождения</label>
          <input type="text"
                 class="form-control"
                 v-model="birthplace"
                 id="birthplace"
                 placeholder="YYYY-MM-DD"
          />
        </div>

        <div class="form-group">
          <label for="regPlace">Место регистрации</label>
          <input type="text"
                 class="form-control"
                 v-model="regPlace"
                 id="regPlace"
                 placeholder="YYYY-MM-DD"
          />
        </div>

        <button v-on:click.prevent="createClient" class="btn btn-primary">Создать</button>
      </form>

    </div>
  </div>
</template>

<script>
import EmployeeCreate from "~/api/employees/employeeCreate";
import DepartmentList from "~/api/departments/departmentList";

export default {
  name: 'EmployeesCreate',
  components: {
  },
  data() {
    return {
      name: null,
      secondName: null,
      lastName: null,
      departmentId: null,
      phoneNumber: null,
      passportNumber: null,
      passportSeries: null,
      birthplace: null,
      regPlace: null,
      departments: [],
    }
  },
  methods: {
    async createClient() {
      try {
        const result = await EmployeeCreate(this.$data)
        this.$router.push('/employees');

      } catch (e) {
        console.log(e)
      }

    }
  },
  async fetch () {
    const departments = await DepartmentList()
    this.departments = departments.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
