<template>

  <div class="card">
    <div class="card-header">
      <h4>Список сотрудников</h4>
    </div>
    <div class="card-body">

      <ModelsTable :models="models" entity-name="employees"></ModelsTable>

    </div>
  </div>

</template>

<script>
import EmployeeList from "~/api/employees/employeeList";

export default {
  name: 'EmployeesIndex',
  components: {
  },
  data() {
    return {
      models: []
    }
  },
  async fetch() {
    const response = await EmployeeList()
    this.models = response.data

    console.log(this.models)
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
