<template>

  <div class="card">
    <div class="card-header">
      <h4>Обновление клиента</h4>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input type="text"
               class="form-control"
               v-model="lastName"
               id="lastName"
               placeholder="Федоров"
        >
      </div>

      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text"
               class="form-control"
               v-model="name"
               id="name"
               placeholder="Федор"
        >
      </div>

      <div class="form-group">
        <label for="secondName">Отчество</label>
        <input type="text"
               class="form-control"
               v-model="secondName"
               id="secondName"
               placeholder="Федорович"
        >
      </div>

      <div class="form-group">
        <label for="gender">Пол</label>
        <select
          v-model="gender"
          class="form-control"
          id="gender"
        >
          <option value="М">М</option>
          <option value="Ж">Ж</option>
        </select>

      </div>

      <div class="form-group">
        <label for="phoneNumber">Номер телефона</label>
        <input type="text"
               class="form-control"
               v-model="phoneNumber"
               id="phoneNumber"
               placeholder="100000"
        />
      </div>

      <div class="form-group">
        <label for="birthday">Дата рождения</label>
        <input type="text"
               class="form-control"
               v-model="birthday"
               id="birthday"
               placeholder="YYYY-MM-DD"
        />
      </div>

      <button v-on:click.prevent="updateClient" class="btn btn-primary">Обновить</button>

    </div>

  </div>

</template>

<script>
import ClientDetail from "~/api/clients/clientDetail";
import ClientUpdate from "~/api/clients/clientUpdate";

export default {
  name: 'ClientsUpdate',
  components: {
    // "clients-one": ClientsOne,
  },
  data () {
    return {
      name: null,
      secondName: null,
      lastName: null,
      gender: null,
      phoneNumber: null,
      birthday: null,
    }
  },
  methods: {
    async updateClient() {

      try {
        await ClientUpdate(this.$route.params.id, this.$data)

        this.$router.push('/clients')
      } catch (e) {
        console.log(e.message)
      }
    }
  },
  async fetch () {
    const client = await ClientDetail(this.$route.params.id)

    this.name = client.data.name
    this.secondName = client.data.secondName
    this.lastName = client.data.lastName
    this.gender = client.data.gender
    this.phoneNumber = client.data.phoneNumber
    this.birthday = client.data.birthday
  },
}
</script>
