<template>
  <div class="card">
    <div class="card-header">
      <h4>Обновление Машины</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="title">Название</label>
          <input type="text"
                 class="form-control"
                 v-model="title"
                 id="title"
                 placeholder="Лада Приора"
          >
        </div>
        <div class="form-group">
          <label for="specification">Спецификация</label>
          <select
            v-model="specificationsId"
            class="form-control"
            id="specification"
          >
            <option
                    v-for="specification in specifications"
                    :value="specification.id"
            >
              {{`${specification.yearIssue} /
                  ${specification.chassis} /
                  ${specification.carcase} /
                  ${specification.enginePower} /
                  ${specification.maxWight}`}}
            </option>

          </select>
        </div>

        <div class="form-group">
          <label for="price">Цена (руб.)</label>
          <input type="number"
                 class="form-control"
                 v-model="price"
                 id="price"
                 placeholder="100000"
          />
        </div>

        <button v-on:click.prevent="updateCar" class="btn btn-primary">Обновить</button>
      </form>

    </div>
  </div></template>

<script>
import SpecificationList from "~/api/specifications/specificationList";
import CarDetail from "~/api/cars/carDetail";
import CarUpdate from "~/api/cars/carUpdate";

export default {
  name: 'OrdersUpdate',
  components: {
    // "orders-one": OrdersOne,
  },
  data() {
    return {
      specifications: [],
      title: null,
      specificationsId: null,
      price: null,
      car: null
    }
  },
  methods: {
    async updateCar() {
      let data = {
        title: this.title,
        specificationsId: this.specificationId,
        price: this.price,
      }

      try {
        await CarUpdate(this.$route.params.id, data)

        this.$router.push('/cars')
      } catch (e) {
        console.log(e.message)
      }
    }
  },
  async fetch () {
    const car = await CarDetail(this.$route.params.id)

    this.title = car.data.title
    this.specificationsId = car.data.specificationsId
    this.price = car.data.price


    const specifications = await SpecificationList()
    this.specifications = specifications.data
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
