<template>

  <div>
    <default-navbar></default-navbar>
    <div class="container">
      <div class="row">
        <Nuxt/>
      </div>
    </div>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</template>

<script>


import DefaultNavbar from "~/components/navbars/default";

export default {
  name: 'defaultLayout',
  components: {
    DefaultNavbar
  }
}
</script>

<style>
  body {
    background: #eee;
  }
  .container {
    max-width: 90%;
  }
</style>
