<template>
  <div class="card">
    <div class="card-header">
      <h4>Обновление спецификации</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="yearIssue">Год выпуска</label>
          <input type="text"
                 class="form-control"
                 v-model="yearIssue"
                 id="yearIssue"
                 placeholder="2020"
          >
        </div>

        <div class="form-group">
          <label for="chassis">Тип</label>
          <input type="text"
                 class="form-control"
                 v-model="chassis"
                 id="chassis"
                 placeholder="Грузовое"
          >
        </div>

        <div class="form-group">
          <label for="carcase">Корпус</label>
          <input type="text"
                 class="form-control"
                 v-model="carcase"
                 id="carcase"
                 placeholder="Металл"
          >
        </div>

        <div class="form-group">
          <label for="enginePower">Мощность двигателя (л.с.)</label>
          <input type="text"
                 class="form-control"
                 v-model="enginePower"
                 id="enginePower"
                 placeholder="500"
          >
        </div>

        <div class="form-group">
          <label for="maxWight">Максимальный вес (кг)</label>
          <input type="text"
                 class="form-control"
                 v-model="maxWight"
                 id="maxWight"
                 placeholder="15000"
          >
        </div>

        <button v-on:click.prevent="updateSpecification" class="btn btn-primary">Создать</button>
      </form>

    </div>
  </div>
</template>

<script>
import SpecificationUpdate from "~/api/specifications/specificationUpdate";
import SpecificationDetail from "~/api/specifications/specificationDetail";

export default {
  name: 'SpecificationsUpdate',
  components: {
  },
  data() {
    return {
      yearIssue: null,
      chassis: null,
      carcase: null,
      enginePower: null,
      maxWight: null,
    }
  },
  methods: {
    async updateSpecification() {
      try {
        await SpecificationUpdate(this.$route.params.id, this.$data)
      } catch (e) {
      }

      this.$router.push('/specifications');
    }
  },
  async fetch () {
    const specification = await SpecificationDetail(this.$route.params.id)

    this.yearIssue = specification.data.yearIssue
    this.chassis = specification.data.chassis
    this.carcase = specification.data.carcase
    this.enginePower = specification.data.enginePower
    this.maxWight = specification.data.maxWight
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
