<template>
  <div class="card">
    <div class="card-header">
      <h4>Создание отдела</h4>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="title">Название</label>
          <input type="text"
                 class="form-control"
                 v-model="title"
                 id="title"
                 placeholder="Отдел айти"
          >
        </div>

        <div class="form-group">
          <label for="place">Местонахождение</label>
          <input type="text"
                 class="form-control"
                 v-model="place"
                 id="place"
                 placeholder="Москва"
          >
        </div>

        <button v-on:click.prevent="createDepartment" class="btn btn-primary">Создать</button>
      </form>

    </div>
  </div>
</template>

<script>
import DepartmentCreate from "~/api/departments/departmentCreate";

export default {
  name: 'DepartmentsCreate',
  components: {
  },
  data() {
    return {
      title: null,
      place: null,
    }
  },
  methods: {
    async createDepartment() {
      const result = await DepartmentCreate(this.$data)

      this.$router.push('/departments');
    }
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
