<template>

  <div class="card">
    <div class="card-header">
      <h4>Список отделов</h4>
    </div>
    <div class="card-body">

      <ModelsTable :models="models" entity-name="departments"></ModelsTable>

    </div>
  </div>

</template>

<script>
import DepartmentList from "~/api/departments/departmentList";

export default {
  name: 'DepartmentsIndex',
  components: {
  },
  data() {
    return {
      models: []
    }
  },
  async fetch() {
    const response = await DepartmentList()
    this.models = response.data

    console.log(this.models)
  }
}
</script>

<style>
.card {
  width: 100%
}
</style>
